*{
    margin: 0;
    padding: 0;
}
body{
    width: 790px;
}
main{
    width: 300px;
    display: inline-block;
}
#right{
    display: inline-block;
    vertical-align: top;
    width: 300px;
}
.card{
    border: 2px solid black;
    height: 100px;
    width: 200px;
}
.back{
    display: none;
}